<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.roomate">

    <!-- Firebase וקריאות רשת -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RooMate"
        tools:targetApi="31">

        <!-- נקודת הכניסה לאפליקציה -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RooMate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- מסך התחברות -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.RooMate" />


        <activity
            android:name=".auth.RegisterActivity"
            android:exported="true"
            android:label="הרשמה"
            android:theme="@style/Theme.RooMate">
        </activity>

        <!-- מסך בחירת / יצירת קבוצה -->
        <activity
            android:name=".auth.GroupSelectionActivity"
            android:label="בחר קבוצה"
            android:exported="false"
            android:theme="@style/Theme.RooMate" />

        <!-- משמש להתראות AlarmManager -->
        <receiver
            android:name=".notification.TaskAlarmReceiver"
            android:exported="false" />

    </application>

</manifest>
